#navbar {
    border: 1px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding: 30px;
}

a {
    padding: 0 10px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#search-input {
    padding: 0 0 0 0;
    width: 250px;
    height: 30px;
}

#search-button {
    width: 75px;
    height: 30px;
}